.App {
  margin-top: 15%;
  text-align: center;
}
#input{
  margin-top: 1%;
  margin-bottom: 2%;
}
#label{
  margin-right: 1%;
}

.error{
  outline: none;
  box-shadow: 0 0 0 3px red;
}
.Good{
  outline: none;
  box-shadow: 0 0 0 3px orange;
}
.Strong{
  outline: none;
  box-shadow: 0 0 0 3px lightgreen;
}
.VStrong{
  outline: none;
  box-shadow: 0 0 0 3px black;
}
input {
  margin: 15px 0;
  padding: 15px 10px;
  width: 20%;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 4px;
  display: inline-block;
  box-sizing: border-box;
  transition: 0.2s ease all;
}